<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Cyclicism</title>
    <!-- Include the Tailwind CSS stylesheet -->
    <link
      rel="stylesheet"
      href="{{url_for('static',filename='dist/css/output.css')}}"
    />
  </head>

  <body>
    <div class="snap-y snap-mandatory h-screen w-screen overflow-scroll">
      {% for (old_article, new_article) in results %}
      <div class="snap-start border-2 h-screen">
        <div class="h-1/2 p-8">
          <p class="italic text-sm mb-2">A recent article from {{new_article.date_str}}</h1>
          <p class="font-bold text-2xl">{{new_article.title}}</h1>
          <p class="text-lg mt-2 mb-4">{{new_article.abstract}}</p>
          <img src="{{new_article.img_url}}" alt="" /> 
        </div>
        <div class="h-1/2 p-8">
          <p class="italic text-sm pb-2">An old article from {{old_article.date_str}}</h1>
          <p class="font-bold text-2xl">{{old_article.title}}</h1>
          <p class="text-lg my-4">{{old_article.abstract}}</p>
          <img src="{{old_article.img_url}}" alt="" /> 
        </div>
      </div>
      {% endfor %}
    </div>
  </body>
</html>
