<!DOCTYPE html>
<html lang="en" class="scroll-smooth">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>CYCLICISM</title>
    <!-- Include the Tailwind CSS stylesheet -->
    <link
      rel="stylesheet"
      href="/static/dist/css/output.css"
    />
    <!-- Use the tinos google font-->
    <link href="https://fonts.googleapis.com/css2?family=Tinos&display=swap" rel="stylesheet">
    <link rel="icon" href="/static/Icon.png" />
    <link rel="apple-touch-icon" href="/static/Icon.png">
  </head>

  <body class="bg-gray-50">
    <div class="">
      <div class="snap-y snap-mandatory h-screen overflow-scroll scroll-smooth">
        <div class="sm:p-8 sm:ml-8 md:max-w-screen-sm md:ml-16 lg:max-w-screen-md lg:ml-32 xl:max-w-screen-md xl:ml-64">
          <div id="top" class="overflow-clip snap-start h-screen flex flex-col justify-center p-8">
            <a href="https://developer.nytimes.com">
              <img class="w-32" src="https://developer.nytimes.com/files/poweredby_nytimes_200a.png?v=1583354208344" />
            </a>
            <div class="flex flex-col justify-center flex-grow">
              <p class="text-3xl mb-2">CYCLICISM <span class="text-lg">(ˈsɪklɪˌsɪzəm)</span></p>
              <p class="text-xl">The belief that history repeats itself</p>
            </div>
          </div>
          <div class="snap-start h-screen flex flex-col justify-center p-8">
            <p class="text-2xl">Sure, the news is sensational.</p>
            <p class="text-3xl pt-2 italic">But don't you feel like you've read it before?</p>
            <p class="text-xl pt-4">
              Growing up, I used to love reading the news. Midterm elections, climate change, a kid taming a wild alligator.
              It was all fascinating. But the news today feels... boring. <span class="italic">Sure</span>,
              it's sensational, but with almost every article out there, doesn't it feel like you've read it before?
            </p>
            <p class="text-xl pt-4">
              I'm here to show you that you have. Or at least, you've read something semantically very similar (in the vector sense).
            </p>
            <p class="text-xl pt-4">
              Enjoy.
            </p>
          </div>
        </div>
        <div class="sticky top-0 py-2 bg-gray-50 shadow-sm left-0 w-full">
          <div class="flex px-8 justify-between items-center sm:ml-8 md:max-w-screen-sm md:ml-16 lg:max-w-screen-md lg:ml-32 xl:max-w-screen-md xl:ml-64">
            <a href="#top"><p class="text-3xl sm:px-8">CYCLICISM</p></a>
            <a href="#bottom"><p class="text-xl sm:px-8">About</p></a>
          </div>
        </div>
        <div class="sm:p-8 sm:ml-8 md:max-w-screen-sm md:ml-16 lg:max-w-screen-md lg:ml-32 xl:max-w-screen-md xl:ml-64">
          
          <div class="snap-start h-screen pt-12">
            <div class="h-1/2 p-8 flex flex-col">
              <p class="italic text-md mb-2">A recent article from August 2023</h1>
              <a class="hover:cursor-pointer" href="https://www.nytimes.com/2023/08/13/us/lahaina-water-failure.html" target="_blank">
                <p class="font-bold text-xl sm:text-2xl">As Inferno Grew, Lahaina’s Water System Collapsed</h1>
              </a>
              <p class="text-sm sm:text-md mt-2 mb-4">Firefighters who rushed to contain the Maui wildfire found that hydrants were running dry, forcing crews to embark instead on a perilous rescue mission.</p>
              
              <div class="flex flex-grow overflow-hidden">
                <img class="w-full h-full object-scale-down" src="https://static01.nyt.com/images/2023/08/13/multimedia/13nat-hawaii-water-top-zghb/13nat-hawaii-water-top-zghb-superJumbo.jpg" alt="" /> 
              </div> 
              
            </div>
            <div class="h-1/2 p-8 flex flex-col">
              <p class="italic text-md mb-2">An old article from September 2005</h1>
              <a class="hover:cursor-pointer" href="https://www.nytimes.com/2005/09/08/us/nationalspecial/drying-out-new-orleans-fears-a-blaze.html" target="_blank">
                <p class="font-bold text-xl sm:text-2xl">Drying Out, New Orleans Fears a Blaze</h1>
              </a>
              <p class="text-sm sm:text-md mt-2 mb-4">Fire officials in New Orleans fear that city will begin to dry out only to have more fires break out as floodwaters recede; 15 fires have broken out, and some are thought to be arson; gas leaks are an</p>
              
              <div class="flex flex-grow overflow-hidden">
                <img class="w-full h-full object-scale-down" src="https://www.history.navy.mil/content/history/nhhc/research/histories/ship-histories/danfs/e/enterprise-cv-6-vii/_jcr_content/body/media_asset_431123811/image.img.jpg/1493746890072.jpg" alt="" /> 
              </div> 
              
            </div>
          </div>
          
          <div class="snap-start h-screen pt-12">
            <div class="h-1/2 p-8 flex flex-col">
              <p class="italic text-md mb-2">A recent article from August 2023</h1>
              <a class="hover:cursor-pointer" href="https://www.nytimes.com/2023/08/13/us/hawaii-wildfire-factors.html" target="_blank">
                <p class="font-bold text-xl sm:text-2xl">How Invasive Plants Caused the Maui Fires to Rage</h1>
              </a>
              <p class="text-sm sm:text-md mt-2 mb-4">A sweeping series of plantation closures in Hawaii allowed highly flammable nonnative grasses to spread on idled lands, providing the fuel for huge blazes.</p>
              
              <div class="flex flex-grow overflow-hidden">
                <img class="w-full h-full object-scale-down" src="https://static01.nyt.com/images/2023/08/14/multimedia/14nat-hawaii-wildfires-top-qljh/14nat-hawaii-wildfires-top-qljh-superJumbo.jpg" alt="" /> 
              </div> 
              
            </div>
            <div class="h-1/2 p-8 flex flex-col">
              <p class="italic text-md mb-2">An old article from October 2003</h1>
              <a class="hover:cursor-pointer" href="https://www.nytimes.com/slideshow/2003/10/26/national/20031027_fire_slideshow_index.html" target="_blank">
                <p class="font-bold text-xl sm:text-2xl">Fires Rage in California</h1>
              </a>
              <p class="text-sm sm:text-md mt-2 mb-4">Wildfires in Southern California razed homes, displaced families and wore out firefighters who battled acres of flames.</p>
              
              <div class="flex flex-grow overflow-hidden">
                <img class="w-full h-full object-scale-down" src="https://p0.pxfuel.com/preview/168/282/322/landscape-mountain-volcano-hill.jpg" alt="" /> 
              </div> 
              
            </div>
          </div>
          
          <div class="snap-start h-screen pt-12">
            <div class="h-1/2 p-8 flex flex-col">
              <p class="italic text-md mb-2">A recent article from August 2023</h1>
              <a class="hover:cursor-pointer" href="https://www.nytimes.com/2023/08/13/us/west-maui-hawaii-wildfires-aid.html" target="_blank">
                <p class="font-bold text-xl sm:text-2xl">‘We Need Some Help Here’: West Maui Residents Say Government Aid Is Scant</h1>
              </a>
              <p class="text-sm sm:text-md mt-2 mb-4">Days after the wildfire that destroyed Lahaina, those staying nearby say private volunteers have served as far more of a lifeline than federal and local agencies.</p>
              
              <div class="flex flex-grow overflow-hidden">
                <img class="w-full h-full object-scale-down" src="https://static01.nyt.com/images/2023/08/13/us/13hawaii/13hawaii-superJumbo.jpg" alt="" /> 
              </div> 
              
            </div>
            <div class="h-1/2 p-8 flex flex-col">
              <p class="italic text-md mb-2">An old article from October 2005</h1>
              <a class="hover:cursor-pointer" href="https://www.nytimes.com/2005/10/14/world/americas/relief-for-isolated-villages-in-guatemala.html" target="_blank">
                <p class="font-bold text-xl sm:text-2xl">Relief for Isolated Villages in Guatemala</h1>
              </a>
              <p class="text-sm sm:text-md mt-2 mb-4">Relief workers reach isolated Guatemalan villages in San Marcos Province hit by recent rains, flooding and mudslides; authorities estimate that over 1,200 people have died (S)</p>
              
              <div class="flex flex-grow overflow-hidden">
                <img class="w-full h-full object-scale-down" src="https://2009-2017.state.gov/cms_images/31_geogr.jpg" alt="" /> 
              </div> 
              
            </div>
          </div>
          
          <div class="snap-start h-screen pt-12">
            <div class="h-1/2 p-8 flex flex-col">
              <p class="italic text-md mb-2">A recent article from August 2023</h1>
              <a class="hover:cursor-pointer" href="https://www.nytimes.com/2023/08/10/us/maui-wildfires-hawaii.html" target="_blank">
                <p class="font-bold text-xl sm:text-2xl">What We Know About the Wildfires in Hawaii</h1>
              </a>
              <p class="text-sm sm:text-md mt-2 mb-4">The wildfires on the island of Maui are the deadliest in the United States in more than a century, with the death toll likely to rise still further.</p>
              
              <div class="flex flex-grow overflow-hidden">
                <img class="w-full h-full object-scale-down" src="https://static01.nyt.com/images/2023/09/10/multimedia/10nat-wwk-hawaiifires-gjzc/10nat-wwk-hawaiifires-gjzc-superJumbo.jpg" alt="" /> 
              </div> 
              
            </div>
            <div class="h-1/2 p-8 flex flex-col">
              <p class="italic text-md mb-2">An old article from August 2003</h1>
              <a class="hover:cursor-pointer" href="https://www.nytimes.com/2003/08/05/world/world-briefing-americas-canada-fires-spread-across-west.html" target="_blank">
                <p class="font-bold text-xl sm:text-2xl">World Briefing | Americas: Canada: Fires Spread Across West</h1>
              </a>
              <p class="text-sm sm:text-md mt-2 mb-4">Western Canada continues to be ravaged by quick moving forest fires, some of which have been buring for more than one week; thousands of people have been forced to evacuate in British Columbia and Alb</p>
              
              <div class="flex flex-grow overflow-hidden">
                <img class="w-full h-full object-scale-down" src="https://upload.wikimedia.org/wikipedia/commons/c/c2/Maler_der_Grabkammer_des_Menna_013.jpg" alt="" /> 
              </div> 
              
            </div>
          </div>
          
          <div class="snap-start h-screen pt-12">
            <div class="h-1/2 p-8 flex flex-col">
              <p class="italic text-md mb-2">A recent article from August 2023</h1>
              <a class="hover:cursor-pointer" href="https://www.nytimes.com/interactive/2023/08/12/climate/clean-energy-us-fossil-fuels.html" target="_blank">
                <p class="font-bold text-xl sm:text-2xl">The Clean Energy Future Is Arriving Faster Than You Think</h1>
              </a>
              <p class="text-sm sm:text-md mt-2 mb-4">The United States is pivoting away from fossil fuels and toward wind, solar and other renewable energy, even in areas dominated by the oil and gas industries.</p>
              
              <div class="flex flex-grow overflow-hidden">
                <img class="w-full h-full object-scale-down" src="https://static01.nyt.com/images/2023/08/12/climate/clean-energy-us-fossil-fuels-1691861770019/clean-energy-us-fossil-fuels-1691861770019-superJumbo.jpg" alt="" /> 
              </div> 
              
            </div>
            <div class="h-1/2 p-8 flex flex-col">
              <p class="italic text-md mb-2">An old article from February 2001</h1>
              <a class="hover:cursor-pointer" href="https://www.nytimes.com/2001/02/28/politics/poll-watch-environment-ahead-of-energy.html" target="_blank">
                <p class="font-bold text-xl sm:text-2xl">Poll Watch: Environment Ahead of Energy</h1>
              </a>
              <p class="text-sm sm:text-md mt-2 mb-4">Americans continue to put environmental concerns ahead of energy matters, even though California is in the midst of an energy crisis and most Americans have had to endure higher energy costs this wint</p>
              
              <div class="flex flex-grow overflow-hidden">
                <img class="w-full h-full object-scale-down" src="https://media.defense.gov/2023/Feb/24/2003168886/2000/2000/0/230222-M-GU107-1007.JPG" alt="" /> 
              </div> 
              
            </div>
          </div>
          
          <div class="snap-start h-screen pt-12">
            <div class="h-1/2 p-8 flex flex-col">
              <p class="italic text-md mb-2">A recent article from August 2023</h1>
              <a class="hover:cursor-pointer" href="https://www.nytimes.com/interactive/2023/08/12/climate/wind-solar-clean-energy.html" target="_blank">
                <p class="font-bold text-xl sm:text-2xl">The Clean Energy Future Is Roiling Both Friends and Foes</h1>
              </a>
              <p class="text-sm sm:text-md mt-2 mb-4">Resistance to wind and solar projects from environmentalists is among an array of impediments to widespread conversion to renewables.</p>
              
              <div class="flex flex-grow overflow-hidden">
                <img class="w-full h-full object-scale-down" src="https://static01.nyt.com/images/2023/08/12/climate/wind-solar-clean-energy-1691861431557/wind-solar-clean-energy-1691861431557-superJumbo.jpg" alt="" /> 
              </div> 
              
            </div>
            <div class="h-1/2 p-8 flex flex-col">
              <p class="italic text-md mb-2">An old article from April 2001</h1>
              <a class="hover:cursor-pointer" href="https://www.nytimes.com/2001/04/29/nyregion/the-next-generation-energy-s-future-on-li.html" target="_blank">
                <p class="font-bold text-xl sm:text-2xl">The Next Generation: Energy&#39;s Future on L.I.</h1>
              </a>
              <p class="text-sm sm:text-md mt-2 mb-4">Article on major push by Long Island Power Authority for solar, off-coast wind turbine and other alternative energy sources on Long Island as utility continues to struggle to meet rising demand for el</p>
              
              <div class="flex flex-grow overflow-hidden">
                <img class="w-full h-full object-scale-down" src="https://media.defense.gov/2021/Mar/03/2002593341/2000/2000/0/210218-F-HF102-0055.JPG" alt="" /> 
              </div> 
              
            </div>
          </div>
          
          <div class="snap-start h-screen pt-12">
            <div class="h-1/2 p-8 flex flex-col">
              <p class="italic text-md mb-2">A recent article from August 2023</h1>
              <a class="hover:cursor-pointer" href="https://www.nytimes.com/2023/08/13/business/media/kansas-marion-newspaper-police-raid.html" target="_blank">
                <p class="font-bold text-xl sm:text-2xl">Raid of Small Kansas Newspaper Raises Free Press Concerns</h1>
              </a>
              <p class="text-sm sm:text-md mt-2 mb-4">The search of Marion County Record’s office led to the seizure of computers, servers and cellphones of reporters and editors.</p>
              
              <div class="flex flex-grow overflow-hidden">
                <img class="w-full h-full object-scale-down" src="https://static01.nyt.com/images/2023/08/12/multimedia/00kansas-press-2-fpkt/00kansas-press-2-fpkt-superJumbo.jpg" alt="" /> 
              </div> 
              
            </div>
            <div class="h-1/2 p-8 flex flex-col">
              <p class="italic text-md mb-2">An old article from January 2004</h1>
              <a class="hover:cursor-pointer" href="https://www.nytimes.com/2004/01/08/world/police-raid-chinese-newspaper-that-reported-new-sars-case.html" target="_blank">
                <p class="font-bold text-xl sm:text-2xl">Police Raid Chinese Newspaper That Reported New SARS Case</h1>
              </a>
              <p class="text-sm sm:text-md mt-2 mb-4">Chinese police storm offices of newspaper in Guangzhou that reported new SARS case (M)</p>
              
              <div class="flex flex-grow overflow-hidden items-center justify-center">
                <p class="italic">No image found</p>
              </div>
              
            </div>
          </div>
          
          <div class="snap-start h-screen pt-12">
            <div class="h-1/2 p-8 flex flex-col">
              <p class="italic text-md mb-2">A recent article from August 2023</h1>
              <a class="hover:cursor-pointer" href="https://www.nytimes.com/2023/08/13/us/politics/trump-indictment-effect.html" target="_blank">
                <p class="font-bold text-xl sm:text-2xl">How Trump Benefits From an Indictment Effect</h1>
              </a>
              <p class="text-sm sm:text-md mt-2 mb-4">In polling, fund-raising and conservative media, the former president has turned criminal charges into political assets.</p>
              
              <div class="flex flex-grow overflow-hidden">
                <img class="w-full h-full object-scale-down" src="https://static01.nyt.com/images/2023/08/10/multimedia/00pol-indictment-effect1-mvkz/00pol-indictment-effect1-mvkz-superJumbo.jpg" alt="" /> 
              </div> 
              
            </div>
            <div class="h-1/2 p-8 flex flex-col">
              <p class="italic text-md mb-2">An old article from December 2002</h1>
              <a class="hover:cursor-pointer" href="https://www.nytimes.com/2002/12/05/us/clinton-nemesis-starr-gets-another-day-in-court.html" target="_blank">
                <p class="font-bold text-xl sm:text-2xl">Clinton Nemesis, Starr, Gets Another Day in Court</h1>
              </a>
              <p class="text-sm sm:text-md mt-2 mb-4">Kenneth W Starr, whose reputation has been in intensive rehabilitiation after difficult turn as independent counsel in probe of Pres Bill Clinton, is back in courtrooms as appellate lawyer; is part of</p>
              
              <div class="flex flex-grow overflow-hidden items-center justify-center">
                <p class="italic">No image found</p>
              </div>
              
            </div>
          </div>
          
          <div class="snap-start h-screen pt-12">
            <div class="h-1/2 p-8 flex flex-col">
              <p class="italic text-md mb-2">A recent article from August 2023</h1>
              <a class="hover:cursor-pointer" href="https://www.nytimes.com/2023/08/12/us/politics/republicans-hunter-biden-special-counsel.html" target="_blank">
                <p class="font-bold text-xl sm:text-2xl">Republicans Wanted a Special Counsel Investigation of Hunter Biden. Now Many Oppose It.</h1>
              </a>
              <p class="text-sm sm:text-md mt-2 mb-4">Although some G.O.P. lawmakers see the appointment of David C. Weiss as a vindication of their strategy, others criticize the now-scuttled plea deal he struck with Mr. Biden.</p>
              
              <div class="flex flex-grow overflow-hidden">
                <img class="w-full h-full object-scale-down" src="https://static01.nyt.com/images/2023/08/12/us/12dc-gop-weiss/12dc-gop-weiss-superJumbo.jpg" alt="" /> 
              </div> 
              
            </div>
            <div class="h-1/2 p-8 flex flex-col">
              <p class="italic text-md mb-2">An old article from October 2005</h1>
              <a class="hover:cursor-pointer" href="https://www.nytimes.com/2005/10/24/politics/republicans-testing-ways-to-blunt-leak-charges.html" target="_blank">
                <p class="font-bold text-xl sm:text-2xl">Republicans Testing Ways to Blunt Leak Charges</h1>
              </a>
              <p class="text-sm sm:text-md mt-2 mb-4">Republicans will pursue strategy of attacking any criminal charges stemming from leaking of name of CIA officer as disagreement over legal technicalities or product of overzealous prosecutor Patrick F</p>
              
              <div class="flex flex-grow overflow-hidden">
                <img class="w-full h-full object-scale-down" src="https://upload.wikimedia.org/wikipedia/commons/5/5c/James_Comey_official_portrait.jpg" alt="" /> 
              </div> 
              
            </div>
          </div>
          
          <div class="snap-start h-screen pt-12">
            <div class="h-1/2 p-8 flex flex-col">
              <p class="italic text-md mb-2">A recent article from August 2023</h1>
              <a class="hover:cursor-pointer" href="https://www.nytimes.com/2023/08/12/style/sunscreen-fda-regulation-aoc.html" target="_blank">
                <p class="font-bold text-xl sm:text-2xl">U.S. Sunscreen Is Stuck in the ’90s. Is This a Job for Congress?</h1>
              </a>
              <p class="text-sm sm:text-md mt-2 mb-4">For years, American consumers have had to look abroad if they want the latest in sunscreen innovations. Some, including Rep. Alexandria Ocasio-Cortez, think it’s time to revisit F.D.A. approval proced</p>
              
              <div class="flex flex-grow overflow-hidden">
                <img class="w-full h-full object-scale-down" src="https://static01.nyt.com/images/2023/08/13/fashion/11SUNSCREEN-01-kqtc/11SUNSCREEN-01-kqtc-superJumbo.jpg" alt="" /> 
              </div> 
              
            </div>
            <div class="h-1/2 p-8 flex flex-col">
              <p class="italic text-md mb-2">An old article from April 2002</h1>
              <a class="hover:cursor-pointer" href="https://www.nytimes.com/2002/04/28/us/both-parties-try-to-revive-privacy-issue-in-congress.html" target="_blank">
                <p class="font-bold text-xl sm:text-2xl">Both Parties Try to Revive Privacy Issue In Congress</h1>
              </a>
              <p class="text-sm sm:text-md mt-2 mb-4">Bipartisan alliances in both houses of Congress are seeking to rekindle debate over privacy, seven months after terrorism trumped issue as Congressional concern; Republican conservative Repr Bob Barr </p>
              
              <div class="flex flex-grow overflow-hidden">
                <img class="w-full h-full object-scale-down" src="https://media.defense.gov/2016/Jun/13/2001553237/1920/1080/0/160607-N-FK070-124.JPG" alt="" /> 
              </div> 
              
            </div>
          </div>
          
          <div class="snap-start h-screen pt-12">
            <div class="h-1/2 p-8 flex flex-col">
              <p class="italic text-md mb-2">A recent article from August 2023</h1>
              <a class="hover:cursor-pointer" href="https://www.nytimes.com/2023/08/13/world/middleeast/ashura-iran-protests.html" target="_blank">
                <p class="font-bold text-xl sm:text-2xl">A Religious Ritual in Iran Becomes a New Form of Protest</h1>
              </a>
              <p class="text-sm sm:text-md mt-2 mb-4">Ashura, which mourns the killing of the Prophet Muhammad’s grandson and celebrates Shiite identity, has long symbolized the fight against oppression. This year, its chants have been turned against the</p>
              
              <div class="flex flex-grow overflow-hidden">
                <img class="w-full h-full object-scale-down" src="https://static01.nyt.com/images/2023/08/11/multimedia/00iran-ashura-01-fplq/00iran-ashura-01-fplq-superJumbo.jpg" alt="" /> 
              </div> 
              
            </div>
            <div class="h-1/2 p-8 flex flex-col">
              <p class="italic text-md mb-2">An old article from July 2003</h1>
              <a class="hover:cursor-pointer" href="https://www.nytimes.com/2003/07/20/international/worldspecial/iraqi-shiites-protest-in-formerly-calm-najaf.html" target="_blank">
                <p class="font-bold text-xl sm:text-2xl">Iraqi Shiites Protest in Formerly Calm Najaf</h1>
              </a>
              <p class="text-sm sm:text-md mt-2 mb-4">Protests erupted after Sayyid Muqtada Al-Sadr, the scion of a clan of clerics and a supporter of Iranian-style theocracy in Iraq, said U.S. forces were encircling his home.</p>
              
              <div class="flex flex-grow overflow-hidden items-center justify-center">
                <p class="italic">No image found</p>
              </div>
              
            </div>
          </div>
          
          <div class="snap-start h-screen pt-12">
            <div class="h-1/2 p-8 flex flex-col">
              <p class="italic text-md mb-2">A recent article from August 2023</h1>
              <a class="hover:cursor-pointer" href="https://www.nytimes.com/2023/08/13/us/politics/texas-medicaid-coverage-loss.html" target="_blank">
                <p class="font-bold text-xl sm:text-2xl">After End of Pandemic Coverage Guarantee, Texas Is Epicenter of Medicaid Losses</h1>
              </a>
              <p class="text-sm sm:text-md mt-2 mb-4">Since the end of a pandemic-era policy that barred states from removing people from Medicaid, Texas has dropped over half a million people from the program, more than any other state.</p>
              
              <div class="flex flex-grow overflow-hidden">
                <img class="w-full h-full object-scale-down" src="https://static01.nyt.com/images/2023/08/11/multimedia/00dc-texasmedicaid-top-bmtv/00dc-texasmedicaid-top-bmtv-superJumbo.jpg" alt="" /> 
              </div> 
              
            </div>
            <div class="h-1/2 p-8 flex flex-col">
              <p class="italic text-md mb-2">An old article from March 2002</h1>
              <a class="hover:cursor-pointer" href="https://www.nytimes.com/2002/03/01/us/national-briefing-south-mississippi-medicaid-runs-out-of-money.html" target="_blank">
                <p class="font-bold text-xl sm:text-2xl">National Briefing | South: Mississippi: Medicaid Runs Out Of Money</h1>
              </a>
              <p class="text-sm sm:text-md mt-2 mb-4">Mississippi legislators fail to approve emergency bailout for state&#39;s deficit-riddled Medicaid program, prompting state officials to warn that they no longer have money to pay doctors and hospitals (S</p>
              
              <div class="flex flex-grow overflow-hidden">
                <img class="w-full h-full object-scale-down" src="https://www.ssa.gov/history/pics/20050310-14_w9w4687jpg-250h.jpg" alt="" /> 
              </div> 
              
            </div>
          </div>
          
          <div class="snap-start h-screen pt-12">
            <div class="h-1/2 p-8 flex flex-col">
              <p class="italic text-md mb-2">A recent article from August 2023</h1>
              <a class="hover:cursor-pointer" href="https://www.nytimes.com/2023/08/08/travel/skiplagging-hidden-city-travel-layover.html" target="_blank">
                <p class="font-bold text-xl sm:text-2xl">Whether You Call It ‘Skiplagging’ or ‘Hidden-City Travel,’ It’s Contentious</h1>
              </a>
              <p class="text-sm sm:text-md mt-2 mb-4">Booking a flight with a layover in the city that’s the real destination for the traveler can net big bargains, but airlines prohibit the practice.</p>
              
              <div class="flex flex-grow overflow-hidden">
                <img class="w-full h-full object-scale-down" src="https://static01.nyt.com/images/2023/08/14/travel/10Travel-skiplagging-illo/10Travel-skiplagging-illo-superJumbo.png" alt="" /> 
              </div> 
              
            </div>
            <div class="h-1/2 p-8 flex flex-col">
              <p class="italic text-md mb-2">An old article from September 2004</h1>
              <a class="hover:cursor-pointer" href="https://www.nytimes.com/2004/09/12/travel/30day-trips-beating-the-rule.html" target="_blank">
                <p class="font-bold text-xl sm:text-2xl">30-Day Trips: Beating the Rule</h1>
              </a>
              <p class="text-sm sm:text-md mt-2 mb-4">Susan Stellin Practical Traveler column describes ways to circumvent maximum 30-day stay requirement imposed by many of America&#39;s largest airlines and some major foreign airlines; drawing (M)</p>
              
              <div class="flex flex-grow overflow-hidden">
                <img class="w-full h-full object-scale-down" src="https://eventours.co.in/wp-content/uploads/2023/05/Rules-of-the-Road-1-1024x585.jpg" alt="" /> 
              </div> 
              
            </div>
          </div>
          
          <div class="snap-start h-screen pt-12">
            <div class="h-1/2 p-8 flex flex-col">
              <p class="italic text-md mb-2">A recent article from August 2023</h1>
              <a class="hover:cursor-pointer" href="https://www.nytimes.com/interactive/2023/08/11/arts/music/taylor-swift-eras-tour-timeline.html" target="_blank">
                <p class="font-bold text-xl sm:text-2xl">Taylor Swift’s Viral Era</h1>
              </a>
              <p class="text-sm sm:text-md mt-2 mb-4">Fan demand broke Ticketmaster, and that was just the prologue. These are the moments that turned the Eras Tour into a phenomenon.</p>
              
              <div class="flex flex-grow overflow-hidden">
                <img class="w-full h-full object-scale-down" src="https://static01.nyt.com/images/2023/08/11/arts/music/taylor-swift-eras-tour-timeline-1691707290276/taylor-swift-eras-tour-timeline-1691707290276-superJumbo.jpg" alt="" /> 
              </div> 
              
            </div>
            <div class="h-1/2 p-8 flex flex-col">
              <p class="italic text-md mb-2">An old article from December 2002</h1>
              <a class="hover:cursor-pointer" href="https://www.nytimes.com/2002/12/12/theater/movin-beyond-missteps-twyla-tharp-turned-problem-chicago-into-hit-broadway.html" target="_blank">
                <p class="font-bold text-xl sm:text-2xl">Movin&#39; Out Beyond Missteps; How Twyla Tharp Turned a Problem in Chicago Into a Hit on Broadway</h1>
              </a>
              <p class="text-sm sm:text-md mt-2 mb-4">Article on how choreographer Twyla Tharp managed to turn Movin&#39; Out, dance show set to Billy Joel&#39;s music which opened to weak reviews during Chicago tryout in July, into Broadway hit; photos (M)</p>
              
              <div class="flex flex-grow overflow-hidden items-center justify-center">
                <p class="italic">No image found</p>
              </div>
              
            </div>
          </div>
          
          <div class="snap-start h-screen pt-12">
            <div class="h-1/2 p-8 flex flex-col">
              <p class="italic text-md mb-2">A recent article from August 2023</h1>
              <a class="hover:cursor-pointer" href="https://www.nytimes.com/2023/08/09/arts/dance/taylor-swift-eras-tour-dancing.html" target="_blank">
                <p class="font-bold text-xl sm:text-2xl">How to Command a Stage Without Great Dance Moves (Taylor’s Version)</h1>
              </a>
              <p class="text-sm sm:text-md mt-2 mb-4">The choreography on Taylor Swift’s Eras Tour doesn’t ask her to do too much, but she knows how to use her simple moves to her advantage.</p>
              
              <div class="flex flex-grow overflow-hidden">
                <img class="w-full h-full object-scale-down" src="https://static01.nyt.com/images/2023/08/10/multimedia/08SWIFT-DANCE-01-fzhg/08SWIFT-DANCE-01-fzhg-superJumbo.jpg" alt="" /> 
              </div> 
              
            </div>
            <div class="h-1/2 p-8 flex flex-col">
              <p class="italic text-md mb-2">An old article from December 2002</h1>
              <a class="hover:cursor-pointer" href="https://www.nytimes.com/2002/12/12/theater/movin-beyond-missteps-twyla-tharp-turned-problem-chicago-into-hit-broadway.html" target="_blank">
                <p class="font-bold text-xl sm:text-2xl">Movin&#39; Out Beyond Missteps; How Twyla Tharp Turned a Problem in Chicago Into a Hit on Broadway</h1>
              </a>
              <p class="text-sm sm:text-md mt-2 mb-4">Article on how choreographer Twyla Tharp managed to turn Movin&#39; Out, dance show set to Billy Joel&#39;s music which opened to weak reviews during Chicago tryout in July, into Broadway hit; photos (M)</p>
              
              <div class="flex flex-grow overflow-hidden items-center justify-center">
                <p class="italic">No image found</p>
              </div>
              
            </div>
          </div>
          
        </div>
        <div class="sm:p-8 sm:ml-8 md:max-w-screen-sm md:ml-16 lg:max-w-screen-md lg:ml-32 xl:max-w-screen-md xl:ml-64">
          <div id="bottom" class="snap-start h-screen flex flex-col justify-center p-8 overflow-auto">
            <div class="flex flex-col justify-center flex-grow pt-4">
              <p class="text-2xl mb-2">About</p>
              <p class="text-md">
                This website was created by applying a <a target="_blank" class="underline" href="https://www.sbert.net/#">sentence transformer</a> to
                the headline and abstract of every article published by <span class="italic">The New York Times</span> between January 1st, 2001 and
                December 31st, 2005. Every six hours, the page is refreshed by fetching the currently trending articles and applying the same
                transformation. Similarity is then approximated using <a target="_blank" class="underline" href="https://github.com/spotify/annoy">annoy indexes</a>.
              </p>
              <p class="text-2xl mt-8 mb-2">Why 2001-2005?</p>
              <p class="text-md">
                I (the omniscent narrator) was born in 2001, and I wanted to see what the world was like when I was
                too young to open a newspaper and go, <span class="italic">"Huh."</span>
              </p>
              <p class="text-md pt-4">
                Also, ~20 years is an amount of time where you'd probably agree <span class="italic">
                "That's a long time ago,"</span> but not so long ago that you won't recognize people, places, and events.
              </p>
              <p class="text-md pt-4">
                Want to learn more? Keep scrolling.
              </p>
            </div>
          </div>
          <div class="snap-start h-screen flex flex-col justify-center p-8 overflow-auto">
            <div class="flex flex-col justify-center flex-grow pt-4">
              <p class="text-2xl mb-2">OBLIGATORY PERSONAL WEBSITE LINK</p>
              <p class="text-md">
                <a target="_blank" href="https://mark-pekala.dev" class="underline">Check it out.</a>
              </p>
              <p class="text-2xl mt-8 mb-2">But... who are you?</p>
              <p class="text-md">
                I'm <a target="_blank" href="https://www.linkedin.com/in/cargo-run/" class="underline">Mark</a> 🖤, a student at Harvard studying math and
                computer science. I like data structures and algorithms and have a bit too much free time.
                Oh, and I'm probably going to graduate soon, if you know any cool places to work. ;)
              </p>
            </div>
          </div>
        </div>
      </div>
    </div> <!-- End Desktop -->
  </body>
</html>